@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Kode Mono", monospace !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
}

.login-register a {
  margin-right: 0.5em;
}
h1 {
  text-align: center;
  font-size: xx-large;
  margin-top: 0.3em;
  background-color: black;
  display: inline-block;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 150, 200, 1),
    rgba(255, 255, 255, 0)
  );
  padding: 0.1em;
  border-radius: 10px;
}
input {
  background-color: whitesmoke;
}
select {
  background-color: whitesmoke;
}
h2 {
  background-color: white;
  color: white;
  display: inline-block;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 150, 200, 1),
    rgba(255, 255, 255, 0)
  );
  /* margin-top: 1em; */
  border-radius: 5px;
  padding: 0 0.2em;
}

a:hover {
  background-color: white;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 150, 200, 1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 7px;
}
h1:hover {
  cursor: pointer;
}
.icon:hover {
  cursor: pointer;
}

/* Per WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px; /* Larghezza della barra di scorrimento */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Colore dello sfondo della barra di scorrimento */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Colore della barra di scorrimento */
  border-radius: 4px; /* Bordo arrotondato */
}

/* Per Firefox */
::-moz-scrollbar {
  width: 8px; /* Larghezza della barra di scorrimento */
}

::-moz-scrollbar-track {
  background: #f1f1f1; /* Colore dello sfondo della barra di scorrimento */
}

::-moz-scrollbar-thumb {
  background: #888; /* Colore della barra di scorrimento */
  border-radius: 4px; /* Bordo arrotondato */
}

@media screen and (max-width: 768px) {
  embed {
    width: 95%;
    border-radius: 7px;
    height: 500px;
  }
}

@media screen and (min-width: 769px) {
  embed {
    width: 70%;
    border-radius: 7px;
    height: 700px;
  }
}
