@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Kode Mono", monospace !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
}

.login-register a {
  margin-right: 0.5em;
}
h1 {
  text-align: center;
  font-size: xx-large;
  margin-top: 0.3em;
  /* background-color: black; */
  display: inline-block;
  padding: 0.1em;
  border-radius: 10px;
}
input {
  background-color: whitesmoke;
}
select {
  background-color: whitesmoke;
}
h2 {
  /* background-color: white; */
  display: inline-block;
  border-radius: 5px;
  padding: 0 0.2em;
}

h1:hover {
  cursor: pointer;
}
.icon:hover {
  cursor: pointer;
}

/* WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Firefox */
::-moz-scrollbar {
  width: 8px;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
}

::-moz-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  embed {
    width: 95%;
    border-radius: 7px;
    height: 500px;
  }
}

@media screen and (min-width: 769px) {
  embed {
    width: 70%;
    border-radius: 7px;
    height: 700px;
  }
}

label {
  text-align: left;
}

@keyframes slideInFromLeft {
  0% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}

.first-animated {
  position: relative;
  left: -150%;
}

.second-animated {
  position: relative;
  left: -150%;
}

.third-animated {
  position: relative;
  left: -150%;
}

.animazione-slide {
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-name: slideInFromLeft;
  position: relative;
  left: 0;
}
